* {
  box-sizing: border-box;
}
/* FONTS */
@font-face {
  font-family: corintia-regular;
  src: url(../fonts/Corinthia/Corinthia-Regular.ttf);
}
@font-face {
  font-family: Shalimar-Regular;
  src: url(../fonts/Shalimar/Shalimar-Regular.ttf);
}
@font-face {
  font-family: baloo-bold;
  src: url(../fonts/Baloo_Bhaijaan_2/static/BalooBhaijaan2-Bold.ttf);
}
@font-face {
  font-family: fa;
  src: url(../fonts/fa-brands-400.ttf);
}
body {
  font-size: 1rem;
  font-family: baloo-bold;
  background-color: rgb(253, 251, 251);
  margin: 0 auto;
  /* overflow-x: hidden; */
}
.wraper {
  position: relative;
  overflow-x: hidden;
}
/* HELPERS */
.flex {
  display: flex;
}
.main-layout {
  width: 95vw;
  margin: auto;
}
ul {
  list-style: none;
  margin: 0;
}
input {
  text-align: center;
  border: none;
}
select {
  text-align: center;
}
.active {
  border-bottom: black solid 3px;
  color: black;
}
a {
  text-decoration: none;
  color: white;
}
/* HEADEER */
header {
  height: 15vh;
  background-color: rgb(255, 149, 11);
}
.main-header {
  font-size: 1.3rem;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.hamburger {
  display: none;
}
/* logo */
.header-logo {
  display: flex;
  height: 40px;
}
.img-logo {
  height: 40px;
  transform: translate(0 -50%);
}
/* nav */
.nav-bar {
  color: beige;
  height: 100%;
  width: 30%;
}
.ul-nav-bar {
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.ul-nav-bar li {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 33.3%;
  /* border-right: rgb(11, 12, 11) solid 2px; */
}
.ul-nav-bar span {
  text-align: center;
  width: 100%;
  border-right: rgb(11, 12, 11) solid 2px;
}
.ul-nav-bar li:hover {
  cursor: pointer;
  color: rgb(22, 22, 21);
  box-shadow: inset 0px -3px 0px;
}
/* modal */
.modal {
  height: 50%;
  width: 30%;
  background-color: rgb(255, 149, 11);
  position: fixed;
  top: -100%;
  left: 70%;
  justify-content: center;
  transition: 0.3s;
}
.modal ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
  padding: 0%;
  justify-content: flex-start;
}
.modal ul li {
  margin-top: 30px;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 93, 93);
  border: black solid 3px;
}
.modal ul li:hover {
  cursor: pointer;
  background-color: rgb(204, 135, 135);
  border: black solid 3px;
}
.main-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}
/* hero */
.hero {
  height: 12vh;
  background-color: rgb(255, 255, 255);
}
.main-hero {
  align-items: center;
  justify-content: space-between;
}
.key-words {
  width: 50%;
}
.hero-input {
  border-bottom: black solid 1px;
}
#search-text {
  border: none;
  text-align: left;
  width: 250px;
}
.hero img {
  height: 15px;
}
.key-words ul {
  gap: 5px;
  justify-content: space-between;
}

.hero ul div {
  width: 100%;
  justify-content: space-around;
}
.more-key-words {
  display: none;
}

.key-words li:hover {
  cursor: pointer;
  color: rgb(114, 111, 111);
}
/* Gallery */
.gallery-container {
  background-color: rgb(221, 220, 220);
}
.gallery {
  padding: 10px;
  display: grid;
  justify-content: center;
  gap: 6px;
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fill, 220px);
}
.img {
  border-radius: 15px;
  width: 220px;
  height: 220px;
  transition: 0.2s;
}
.img:hover {
  opacity: 0.6;
  -webkit-box-shadow: 5px 6px 21px 0px rgba(0, 0, 0, 0.93);
  box-shadow: 5px 6px 21px 0px rgba(0, 0, 0, 0.93);
}

.img img {
  border-radius: 15px;
  max-width: 220px;
}
.gallery img:hover {
  cursor: pointer;
}
/* EDITOR */
#my-canvas {
  margin-bottom: 5px;
  border-radius: 15px;
}
.editor {
  padding: 10px;
  background-color: #e2e2e2;

  display: none;
  justify-content: space-around;
  align-items: center;
}
.al-meme-buttons {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.meme-buttons {
  display: grid;
  grid-template-rows: 7;
  grid-template-columns: 5;
  gap: 5px;
  width: 100%;
  height: 80%;
  justify-content: center;
}
.meme-buttons button {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  background-color: whitesmoke;
  position: relative;
}
.meme-buttons button:hover {
  cursor: pointer;
}
.meme-buttons button img {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}
button input {
  opacity: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
}
#meme-text {
  height: 50px;
  border-radius: 15px;
  grid-area: 1/1/2/6;
}
.switch-line {
  grid-row: 2;
  grid-column: 4;
  margin-bottom: 15px;
}
.add-line {
  grid-row: 2;
  grid-column: 3;
}
.trash {
  grid-row: 2;
  grid-column: 5;
}
.increase-font {
  grid-row: 3;
  grid-column: 1;
}
.decrease-font {
  grid-row: 3;
  grid-column: 2;
}
.align-left {
  grid-row: 3;
  grid-column: 3;
}
.align-center {
  grid-row: 3;
  grid-column: 4;
}
.align-right {
  grid-row: 3;
  grid-column: 5;
}
#fonts {
  grid-area: 4/1/5/4;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.text-stroke {
  grid-row: 4;
  grid-column: 4;
}
.painter {
  grid-row: 4;
  grid-column: 5;
}
#meme-text {
  grid-area: 1/1/1/6;
}
.font {
  grid-area: 1/1/1/6;
}
.stickers-box {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  grid-area: 5/1/6/6;
  border-radius: 15px;
  margin-bottom: 15px;
}
.media-buttons {
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5px;
}
.media-buttons button {
  position: relative;
  margin-bottom: 15px;
  height: 40px;
  width: 30%;
  border-radius: 15px;
  background-color: rgb(255, 149, 11);
  color: #ffffff;
}
.media-buttons button:hover {
  border: rgb(11, 12, 11) solid 1px;
  background-color: rgb(238, 159, 56);
}
.download-modal {
  text-align: center;
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: rgba(137, 43, 226, 0.849);
  border-radius: 15px;
  top: 80%;
  left: 120%;
  transition: 0.3s;
}
.download-link {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -25%);
}
.share-container {
  border-radius: 10px;
  text-align: center;
  background-color: rgb(191, 150, 230);
  width: 50px;
  height: 60px;
  position: absolute;
  left: 120%;
  top: 80%;
  transition: 0.4s;
}
.share-container button {
  border-radius: 10px;
  border: none;
}
.share-container a {
  color: black;
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}
.saved-memes {
  padding: 5px;
  background-color: rgb(233, 233, 233);
}
/* me */
.me {
  height: 40vh;
  width: 100%;
  background-color: rgb(240, 240, 240);
}
.main-me {
  justify-content: flex-start;
}
.contact-me {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.oded-img {
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.about-me {
  display: flex;
  flex-direction: column;
}
.about-me ul {
  width: 100%;
  justify-content: flex-start;
  list-style: none;
  padding: 0%;
}
.about-me li a {
  margin-right: 20px;
  margin-left: 20px;
}
.about-me button {
  border: none;
}
.about-me button:hover {
  cursor: pointer;
}
.fa {
  font-family: fa;
  font-size: 1.2rem;
}
.facebook {
  color: black;
}
.instegram {
  color: black;
}
.github {
  color: black;
}
.facebook::before {
  content: '\f39e';
}
.facebook:hover {
  color: rgb(64, 64, 161);
}
.instegram::before {
  content: '\f16d';
}
.instegram:hover {
  color: rgb(230, 36, 75);
}
.github::before {
  content: '\f09b';
}
.github:hover {
  color: rgb(48, 46, 46);
}
/* footer */
.footer {
  text-align: center;
  width: 100%;
  height: 22vh;
  background-color: rgb(255, 149, 11);
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 1.5rem;
}
.footer h3 {
  margin: 5px;
}
.coffeeright {
  margin: 5px;
}
@media screen and (max-width: 706px) {
  body {
    overflow-x: hidden;
  }
  /* header */
  .main-layout {
    max-width: 600px;
  }
  .ul-nav-bar {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .open .main-screen {
    opacity: 1;
    pointer-events: auto;
  }
  .open .modal {
    top: 0%;
  }
  /* hero */
  .main-hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  .key-words {
    margin: 0, auto;
    width: 80%;
  }

  .key-words ul li {
    margin-left: 4px;
    margin-right: 4px;
  }
  .gallery {
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fill, 150px);
  }
  .img {
    width: 150px;
    height: 150px;
  }
  .img img {
    max-width: 150px;
  }
  /* me */
  .me {
    text-align: center;
    height: 470px;
    width: 100%;
    justify-content: center;
  }
  .main-me {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .contact-me {
    width: 100%;
  }
  .about-me {
    width: 100%;
  }
  .me ul {
    padding: 0%;
    margin: auto;
    justify-content: center;
  }
  /* editor */
  .editor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .al-meme-buttons {
    margin-top: 10px;
    width: 80%;
  }
  #my-canvas {
    height: 300px;
    width: 300px;
  }
  .media-buttons {
    width: 100%;
  }
}
